#nova img {
  border-radius: 10rem;
  box-shadow: 0 0 10px blue;
}
#jim img {
  border-radius: 10rem;
  box-shadow: 0 0 10px blue;
}
#tycus img {
  border-radius: 10rem;
  box-shadow: 0 0 10px blue;
}
#artanis img {
  border-radius: 10rem;
  box-shadow: 0 0 10px yellowgreen;
}
#selendis img {
  border-radius: 10rem;
  box-shadow: 0 0 10px yellowgreen;
}
#zerathul img {
  border-radius: 10rem;
  box-shadow: 0 0 10px yellowgreen;
}
#kerrigan img {
  border-radius: 10rem;
  box-shadow: 0 0 10px darkred;
}
#dehaka img {
  border-radius: 10rem;
  box-shadow: 0 0 10px darkred;
}
#zagara img {
  border-radius: 10rem;
  box-shadow: 0 0 10px darkred;
}
