* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 10px;
  }
  


  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    font-weight: 800; 
    font-size: 2rem;
    box-shadow: 0 1px 10px 0  black; /* this adds the "card" effect */
    border-radius: 15px;
    padding: 16px;
    text-align: center;
    background-color: rgb(0, 0, 39);
    color: yellowgreen;
    font-family: monospace;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }