* {
    box-sizing: border-box;
  }
  
.imagensGifs img{
    display: flex;
    padding: 1px;
    flex-direction: column;
    width: 8rem;
    box-shadow: 0 1px 10px black ; 
    border-radius: 15px;
    margin: 25px;
    text-shadow: 0 1px 10px black ;
    cursor: pointer;
}

#imagensGifs{
   margin: 200px;
}

#gisfCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.logosRace{
    padding: 10px;
    text-shadow: 0 1px 10px black ;
}


.btn{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn-green{
    background-color: green;
    box-shadow: 0 5px 0 #006000;
}

.btn-green:hover{
    background-color: #003f00;
    box-shadow: 0 5px 0 #006000;
}

.btn-green:active{
    position: relative;
    top: 5px;
    box-shadow:none
}

@media (max-width: 800px){
    #gisfCards{
        flex-direction: column;
    }
}