body {
  background-color: black;
}

.conteudosCarsEPersonagens {
  display: flex;
  justify-content: center;
}


header img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 0.2rem;
  max-width: 5rem;  
  color: white;
  border: 1px solid black;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px;
}

#headerLogo img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 15rem; 
}
