body {
  background-color: black;
}

header img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 0.2rem;
  max-width: 5rem;
  color: white;
  border: 1px solid black;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px;
}

#headerLogo img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 15rem;
}

.box1 {
  text-align: center;
  font-family: monospace;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.2rem;
  margin: 0.2rem;
  color: yellowgreen;
}

.botaoDano {
  margin: 1rem;
  padding: 1rem;
}

img {
  cursor: pointer;
}
