body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.racaImg,
.personagemImg,
img {
  cursor: pointer;
  margin: 5px;
  width: 8rem;
}
#headerText{
  text-indent: initial;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  color: yellowgreen;
  text-shadow: 0 0 5rem yellowgreen;
  font-weight: 900;
  font-size: 2rem;
  align-items: center;

}

#container {
  border: 8px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cardRaca {
  text-align: center;
  cursor: pointer;
  display: flex;
  color: yellowgreen;
  flex-direction: column;
  align-items: center;
  transition: all 1s;
}

.cardPersonagem {
  display: flex;
  flex-direction: row;
  text-align: center;
  transition: all 1s;
  opacity: -1;
  transition: all 1s;
  z-index: -1;
  margin: -16rem;
}

.cardInterno {
  display: flex;
  color: yellowgreen;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
  transition: all 1s;
}
.personagemImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 2rem;
}

.armamentos {
  display: flex;
}

.arma {
  display: flex;
  margin-top: 1rem;
}

.desc {
  margin: 0.5rem;
  font-size: 01vw;
  opacity: -1;
  transition: all 1s;
  color: yellowgreen;
  text-align: justify;
}
.nomePers {
  margin: 10px;
  color: yellowgreen;
}

.btn {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-green {
  background-color: green;
  box-shadow: 0 5px 0 #006000;
}

.btn-green:hover {
  background-color: #003f00;
  box-shadow: 0 5px 0 #006000;
}

.btn-green:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

.armamentos {
  z-index: -1;
  margin-top: -1rem;
  opacity: 0;
  border-radius: 15rem;
}

.armamentos img {
  border-radius: 5rem;
}

#fundos {
  position: absolute;
  opacity: 0.2;
  z-index: -1;
}

#fundos img {
  display: flex;
  width: 50rem;
  max-width: 50rem;
  
}

.botaoDano{
  margin-top: 1rem;
}

.linhaDeDano{
  text-indent: initial;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  color: yellowgreen;
  text-shadow: 0 0 5rem yellowgreen;
  font-weight: 900;
  font-size: 2rem;
  align-items: center;
}


@media screen and (max-width: 600px){
  .cardPersonagem{
      flex-direction: column;
      align-items: center;
  }
  .personagemImg{
    max-height: 12rem;
  }
  #fundos img{
    max-width: 12rem
  }
 
}