<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/newcss/main.css" />
    <link rel="stylesheet" href="./css/newcss/terranos.css">
    <title>Projeto Calculadora de Dado - StarCraft 2 - Blue Edtech</title>
  </head>
  <body>
    <header id="header">
      <img src="./img/logo-blue-croped.gif" alt="Logo Blue" />
    </header>
    <div id="headerLogo">
      <img src="./img/logoStrarCraft.png" alt="Star Craft 2" />
    </div>
    <div id="headerText">
      <span>Calculadora de Dano StartCraft II</span>
      <span>Escolha sua Raça, Personagem e Tipo de Ataque</span>
    </div>
    <div class="container">
      <div id="terranos">
        Terranos boxTerranos
        <img src="./img/terran.png" alt="" srcset="" />
        <div id="terranosPers">
            tp
          <div class="personagens">
              ps
            <span id="nomePersonagens">Jim Raynor </span>
            <img src="/img/portraitGifs/jym.gif" alt="" srcset="">
            <div id="armamento">
                ar
                <div id="ar1"><img src="/img/ataques/terranos/battlecruiser.gif" alt="" srcset=""></div>
                <div id="ar1"><img src="/img/ataques/terranos/battlecruiser.gif" alt="" srcset=""></div>
                <div id="ar1"><img src="/img/ataques/terranos/battlecruiser.gif" alt="" srcset=""></div>
            </div>
          </div>
          <div class="personagens">
            <span id="nomePersonagens">Tychus Findlay</span>
            <img src="/img/portraitGifs/tycus.gif" alt="" srcset="">
            <div id="armamento">
                ar
                <div id="ar1"><img src="/img/ataques/terranos/battlecruiser.gif" alt="" srcset=""></div>
                <div id="ar1"><img src="/img/ataques/terranos/battlecruiser.gif" alt="" srcset=""></div>
                <div id="ar1"><img src="/img/ataques/terranos/battlecruiser.gif" alt="" srcset=""></div>
            </div>
          </div>
          <div class="personagens">
            <span id="nomePersonagens">N.O.V.A.</span>
            <img src="/img/portraitGifs/nova.gif" alt="" srcset="">
            <div id="armamento">
                ar
                <div id="ar1"><img src="/img/ataques/terranos/battlecruiser.gif" alt="" srcset=""></div>
                <div id="ar1"><img src="/img/ataques/terranos/battlecruiser.gif" alt="" srcset=""></div>
                <div id="ar1"><img src="/img/ataques/terranos/battlecruiser.gif" alt="" srcset=""></div>
            </div>
          </div>
        </div>
      </div>
      <div id="protoss">
        Protoss
        <div class="personagens">pers 1</div>
        <div class="personagens">pers 2</div>
        <div class="personagens">pers 3</div>
      </div>
      <div id="zergs">
        Zergs
        <div class="personagens">pers 1</div>
        <div class="personagens">pers 2</div>
        <div class="personagens">pers 3</div>
      </div>
    </div>
  </body>
</html>
