<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/vitoria.css" />
    <title>Vitoria</title>
  </head>
  <body>
    <div id="vitoriaContainer">
      <div class="bloco">
        <img src="../static/img/logo-blue-croped.gif" alt="Imagem da Blue" />
      </div>
      <div id="vitoria">
      
        <div class="linhaDeDano">
          <span id="dano"><p> Você conseguiu derrotar os inimigos!</p></span>
        </div>
        <div class="linhaDeDano1">
          <span id="dano"><p>Obrigado por salvar a galaxia!</p></span>
        </div>
      </div>
      <div class="botao">
        <button id="botao" class="btn btn-green">Jogar Novamente!</button>
      </div>

    </div>
    <script src="/static/vitoria.js"></script>
  </body>
</html>
