body{
    margin: 0;
    padding: 0;
}

/* cabeçalho */
#header img{
  margin-top: 0.2rem;
  border: 2px solid blue;
  box-shadow: 0 0 10px blue;
  width: 5rem;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#headerLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#headerLogo img{
    width: 20rem;
}
#headerText{
    text-align: center;
    display: flex;
    flex-direction: column;

}
#headerText span{
    padding: 0.5rem;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    text-align: center;
    border: 1px solid black;
}
