#terranos img {
    width: 10rem;
}

#terranos{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: 1px solid blue;
}

#terranosPers{
    display: flex;
    margin: 0.5rem;
    border: 1px solid red;
}

#terranosPers .personagens{
    transition: all 1s;
    align-content: center;
    align-items: center;
    margin-top: -10rem;
    z-index: -1;
    border: 1px solid red;
}

.personagens{
    display: flex;
    flex-direction: column;
}

#terranos:hover #terranosPers .personagens{
    align-content: center;
    transition: all 1s;
    margin: 1rem;
    margin-top: 0.5rem;
    z-index: 0;
}

#armamento{
    display: flex;
    align-content: center;
    justify-content: space-around;
    transition: all 1s;
    z-index: -1;

}
#ar1{
    margin: -10rem;
    transition: all 1s;
}

.personagens:hover #ar1{
    margin: 1rem;
    transition: all 1s;
    z-index: 0;

}